*{
    box-sizing: border-box;
    }

#main-div{
    width: 302px;
    height: auto;
    margin: 0 auto;
    border-color: pink;
    border-width: 1px;
    border-style: groove;
    }

.container{
    width:300px;
    overflow: hidden;
    margin: 50px auto 0;
    }  
#turn-div{
    height: 50px;
    width: 300px;
    margin-bottom: -30px;
    }



#turn{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center; 
    }
.container .box{
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 100px;
    cursor: grabbing;
    }
.container .box:hover
	{
    background-color: dimgray;  
    }    